<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head') %>

    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">
                    <img src="https://i.imgur.com/msZMCGd.png" width="30" height="30" class="d-inline-block align-top" alt="Logo"> Sourcelatam SAS</a>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="home-contain-wrapper">
            <div class="header-wrapper">
                <div class="w-95">
                    <div class="d-flex justify-content-end">
                        <div class="text-center">
                            <img src="https://i.imgur.com/msZMCGd.png" class="mx-auto d-block pb-2" alt="Logo">
                            <h1 class="display-1 text-white">
                                PRÓXIMAMENTE
                            </h1>
                            <h1 class="display-3 text-white">Sourcelatam SAS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- Footer -->
    <%- include('../partials/footer') %>

</html>
